@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-width: 45vw;
    --p-width: 15vw;
    --p-height: 75vh;
    --p-overflow: auto;
    --flex-dir: row;
    --justify: center;
}

@media screen and (max-width: 800px) {
    :root {
        --main-width: 80vw;
        --p-width: 80vw;
        --p-height: auto;
        --p-overflow: none;
        --flex-dir: column;
        --justify: auto;
    }
}

body {
    display: flex;
    flex-direction: var(--flex-dir);
    align-items: center;
    justify-content: var(--justify);
    width: 100vw;
    height: 100vh;

    margin: 0;
    background-color: #181926;

    color: white;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: clamp(0.75rem, 0.85vw, 1rem);
    overflow-x: hidden;
    overflow-y: visible;
}

h1, a {
    color: #ebaaee;
    text-decoration: none;
}

p {
    margin: 0;
    color: #aaaaaa;
}

table {
    width: 100%;
    text-align: center;
}

.main {
    max-width: var(--main-width);
    }

    .bio {
        margin: 10px;
        padding: 20px;
        border: 0.5vh solid #1e2030;
        border-radius: 20px;
        background-color: #24273a;
        transition: all 0.3s ease;
    }

    .info {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #pfp {
        width: 10vw;
        height: 10vw;
        margin: 1em;
        border-radius: 20px;
    }

    .txt:hover {
        color: #fcbbff;
        text-decoration: underline;
    }

    .friends {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .button-88x31 {
        width: 88px;
        height: 31px;
        border: none;
        border-radius: 0;
        transition: all 0.3s ease;
    }

    .socials {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: flex-end;
        justify-self: flex-end;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        text-decoration: none;
        font-size: 1.5em;
        transition: all 0.3s ease;
}

.langs {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 20px;
        border: 0.5vh solid #1e2030;
        border-radius: 20px;
        background-color: #24273a;
        gap: 36px;
        transition: all 0.3s ease;
    }

    .lang::before, .lang {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.5em;
        width: 48px;
        height: 48px;
        font-size: 48px;
        transition: all 0.3s ease;
}

.projects {
        display: flex;
        flex-direction: column;
        width: var(--p-width);
        height: var(--p-height);
        max-height: var(--p-height);
        overflow-y: var(--p-overflow);
        scrollbar-color: transparent transparent; 
        scrollbar-width: thin;
    }

    .projects:hover {
        scrollbar-color: #ebaaee transparent;
    }

    .project {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
        border: 0.5vh solid #1e2030;
        border-radius: 20px;
        background-color: #24273a;
        transition: all 0.3s ease;
}

.project:hover, .bio:hover, .langs:hover, .button-88x31:hover, .lang:hover, .social:hover {
    transform: translateY(-5px);
    filter: brightness(1.1);
}

td:hover {
    transform: translateY(-1px);
    filter: brightness(1.1);
}